{% extends 'adminbase.html'%}
{% load static %}
{% block contents %}
<style>
    #gtco-header {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(111,111,207,1) 35%, rgba(0,212,255,1) 100%);
        color: #000000;
        padding: 60px 0;
        text-align: center;
    }
</style>
<header id="gtco-header" class="gtco-cover">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<div class="row">
                                    <h1 style="text-align: center;"><b>WELCOME TO ADMIN PAGE</b></h1>
                                    <table border="2px" style="position:absolute;right:190px;width:40px;padding: 5px;">

                    <tr>
                <th style="color: white;padding:10px;text-align: center;">S.No</th>
                <th style="color: white;padding:10px;text-align: center;">Name</th>
                <th style="color: white;padding:10px;text-align: center;">Email</th>
                <th style="color: white;padding:10px;text-align: center;">Mobile_no</th>
                <th style="color: white;padding:10px;text-align: center;">Specialization</th>
                <th style="color: white;padding:10px;text-align: center;">Status</th>
                        <th style="color: white;padding:10px;text-align: center;">Activate</th>

                {% for i in object %}
                         <tr>
                         <td style="color: white;padding:10px;text-align: center;">{{ i.id }}</td>
                         <td style="color: white;padding:10px;text-align: center;">{{ i.name }}</td>
                         <td style="color: white;padding:10px;text-align: center;">{{ i.email }}</td>
                         <td style="color: white;padding:10px;text-align: center;">{{ i.mobileno }}</td>
                         <td style="color: white;padding:10px;text-align: center;">{{ i.specialization }}</td>
                         <td style="color: white;padding:10px;text-align: center;">{{ i.status }}</td>
                             {% if i.status == 'waiting' %}
                                    <td style="color:orange"> <a href="/activatedoctor/?pid={{ i.id }}" >Activate</a></td>
                                    {% else %}
                                            <td style="color:rgb(255, 255, 255)"> Activated</td>
                                            {% endif %}

                                     </tr>
                                    {% endfor %}
                                    </table>
                    </h3></center>

                </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

</header>

{% endblock %}
