{% extends 'patientbase.html'%}
{% load static %}
{% block contents %}

<style>
  #gtco-header {
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(111,111,207,1) 35%, rgba(0,212,255,1) 100%);
      color: #000000;
      padding: 60px 0;
      text-align: center;
  }
</style>
<header id="gtco-header" class="gtco-cover">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<div class="row">
                                    <h1 style="color: white;font-weight: bold;text-align: center;"><b>Welcome to Patient Page</b></h1>
                                 <table>
                                    <form action="/patntsymptms/" method="post">
                                        {% csrf_token %}
                                        <tr style="color: rgb(0, 0, 0);font-size: 22px;font-weight: bold;"><td>Name  :<input type="text" name="name"></td></tr>
                                        <tr style="color: rgb(10, 10, 10);font-size: 22px;font-weight: bold;"><td>Age    :<input type="number" name="age"></td></tr>
                                       <tr style="color: rgb(0, 0, 0);font-size: 22px;font-weight: bold;"><td>Mble   :<input type="number" name="mobile"></td></tr>
                                       <tr style="color: rgb(0, 0, 0);font-size: 22px;font-weight: bold;"><td>Gender   :<input type="text"  name="gndr"></td></tr>
                                        <tr style="color: rgb(0, 0, 0);font-size: 22px;font-weight: bold;"><td>Family-data:<textarea id="txt2"  name="famly" rows="4" cols="20"></textarea></td></tr>
                                        <tr style="color: rgb(0, 0, 0);font-size: 22px;font-weight: bold;"><td>Symptoms :<textarea id="txt1"  name="symp" rows="4" cols="20"></textarea></td></tr>
                                        <tr style="position:absolute;left:120px;border-radius: 22px;"><td><input type="submit" value="Submit"></td></tr>
                                    </form>
                                  </table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

</header>

{% endblock %}
